<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login - Bootstrap Admin Template</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    @Styles.Render("~/bundles/gestion_css")
    @Styles.Render("~/bundles/signin_css")
</head>

<body>

    <div class="navbar navbar-fixed-top">

        <div class="navbar-inner">

            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="index.html">
                    Shaman Gesti&oacute;n
                </a>

                <div class="nav-collapse">
                    <ul class="nav pull-right">

                        <li class="">
                            <a href="signup.html" class="">
                                No ten&eacute;s una cuenta?
                            </a>

                        </li>

                        <li class="">
                            <a href="index.html" class="">
                                <i class="icon-chevron-left"></i>
                                Ir a la p&aacute;gina principal
                            </a>

                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->

            </div>
            <!-- /container -->

        </div>
        <!-- /navbar-inner -->

    </div>
    <!-- /navbar -->
    @RenderBody()


    @Scripts.Render("~/bundles/libraries_js")
    @Scripts.Render("~/bundles/login_js")
    @RenderSection("scripts", required: false)

</body>

</html>
