@model PagedList.IPagedList<Gestion.Models.Video>
@using PagedList.Mvc;

@Html.Partial("_Header", Model)

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 ">
        <div class="well well-sm">
            <form action="@Url.Action("Index")" method="get" class="searchIndex" data-gestion-ajax="true" data-gestion-target="#videosList" >
                <div class="input-group">
                    <input type="text" class="form-control" id="searchName" name="searchName" placeholder="Buscar">
                    <span class="input-group-btn">
                        <button class="btn btn-default btnPrincipal" type="submit" name="search_button" id="search_button"><span class="glyphicon glyphicon-search"></span></button>
                        <a href="/Videos/Create" class="btn btn-default btnPrincipal" id="new_button"><span class="glyphicon glyphicon-plus"></span></a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>

    @if (User.IsInRole("Administrador")) {
        @Html.Partial("_Videos", Model)
    } else {
        @Html.Partial("_VideosClientes", Model)
    }



@foreach (var item in Model)
{
    string srcVideo = "http://paramedicapps.com.ar:57774/videos_shaman/" + @item.Alias + ".mp4";
    
    <div id="@item.ID" style="display: none">
        <video id="example_video_1" class="video-js vjs-default-skin"
            controls preload="auto" width="640" height="264">
            <source src="@srcVideo" type='video/mp4' />
        </video>
    </div>
}

<script src="//vjs.zencdn.net/4.2/video.js"></script>
