@model Gestion.Models.Ticket

<div class="row">
    <div class="col-lg-1">
        <span class="glyphicon glyphicon-cog" style="font-size: 3em; color: #e20025"></span>
    </div>
    <div class="col-lg-6">
        <p style="font-size: 1.5em; margin-top: 10px; margin-left: -30px">@Model.Asunto</p>

    </div>
</div>

<hr />

<div id="listaEventos">

    @Html.Partial("_ListaEventos", Model)

</div>

<div id="bottomEditTicket">

    @if (Model.Resuelto)
    {
        @Html.Partial("_Cerrado")   
    }
    else if(User.IsInRole("Administrador"))
    {   
        @Html.Partial("_BotonResponder")  
    } else {
        @Html.Partial("_BotonConsultaCerrar") 
    }

</div>











